<div class="dialog-container">
  <h1 class="title">Add new book</h1>
  <form class="form" [formGroup]="form">
    <mat-form-field class="form-item">
      <input matInput placeholder="Book title" formControlName="title" type="text"/>
      <mat-error *ngIf="f.title.hasError('required')">
       This field is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-item">
      <input matInput placeholder="Book author" formControlName="author" type="text"/>
      <mat-error *ngIf="f.author.hasError('required')">
        This field is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-item">
      <input matInput placeholder="Short description" formControlName="description" type="text"/>
      <mat-error *ngIf="f.description.hasError('required')">
        This field is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-item">
      <input matInput placeholder="Image URL" formControlName="imageURL" type="text"/>
    </mat-form-field>
  </form>
  <div class="footer">
    <button (click)="close()" mat-button>Cancel</button>
    <button (click)="save()"
            [disabled]="!form.valid"
            color="primary"
            mat-button>Save
    </button>
  </div>
</div>
